.message {
  background-color: #ccc;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: inherit;
  border: 2px solid;
}

.success {
  border-color: green;
  color: green;
}

.error {
  border-color: red;
  color: red;
}
